<!doctype HTML>
<html>
  <head>
    <title>MythTV</title>
    <link rel="stylesheet" href="/static/stylesheets/reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/stylesheets/transitions.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/stylesheets/mobile.css" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link rel="apple-touch-icon" size="57x57" href="/static/images/mobile/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" size="114x114" href="/static/images/mobile/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" href="/static/images/mobie/apple-touch-icon.png">

    <script type="text/javascript" src="/static/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/history.adapter.jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/history.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.i18n.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.swipeable.js"></script>
    <script type="text/javascript" src="/static/javascripts/underscore.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/backbone.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/utilities.js"></script>

    <script type="text/javascript" src="/static/javascripts/routes/remote_route.js"></script>
    <script type="text/javascript" src="/static/javascripts/routes/recordings_route.js"></script>
    
    <script type="text/javascript" src="/static/javascripts/models/frontend.js"></script>
    <script type="text/javascript" src="/static/javascripts/models/recording.js"></script>

    <script type="text/javascript" src="/static/javascripts/views/keyboards/remote.js"></script>

    <script type="text/javascript" src="/static/javascripts/views/recordings/index.js"></script>
    <script type="text/javascript" src="/static/javascripts/views/recordings/show.js"></script>
    <script type="text/javascript" src="/dynamic/javascripts/language.js"></script>
    
    <script type="text/javascript" src="/static/javascripts/application.js"></script>
  </head>
  <body>
    <div id="pull-down">
      <ul>
        <li><a href="/remote" rel="#remote" data-i18n-key="remote" lang="en">Remote</a></li>
        <li><a href="/recordings" rel="#recordings" data-i18n-key="recordings" lang="en">Recordings</a></li>
        <li><a href="/listings" rel="#listings" data-i18n-key="listings" lang="en">Listings</a></li>
      </ul>
    </div>

    </div>
    <div id="recordings" class="stack">
      <div id="recordings-index" class="page">
        <header>
          <h1 data-i18n-key="recordings" lang="en">Recordings</h1>
        </header>
        <section></section>
      </div>
      <div id="recordings-show" class="page">
        <header>
          <h1 data-i18n-key="recording" lang="en">Recording</h1>
        </header>
        <section></section>
      </div>
    </div>
    <div id="remote" class="stack">
      <div id="remote-index" class="page">
        <header>
          <h1 data-i18n-key="remote" lang="en">Remote</h1>
        </header>
        <section></section>
      </div>
    </div>

    <!-- Templates -->
    <script type="text/x-jquery-tmpl" id="mobile-recording-item-template">
      <div class="options">
        <a href="#delete" data-i18n-key="delete" lang="en">Delete</a> 
        <a href="#delete-rerecord" data-i18n-key="delete_and_rerecord" lang="en">Delete and Re-record</a> 
        <a href="#play" data-i18n-key="play" lang="en">Play</a> 
        <a href="#autoexpire" data-i18n-key="autoexpire" lang="en">Auto Expire</a>
      </div>
      <div class="details">
        <h2>${title}</h2>
        <img src="/programs/${id.replace('_', '/')}/image.jpg?width=88&amp;height=50" alt="" width="88" height="50">
        <p>
          {{if subtitle}}
            ${subtitle}:
          {{/if}}
          ${description}
        </p>
        <div class="meta">
          <span class="channel">${channame}</span>
          |
          <span class="time">${Math.round((recendts.getTime() - recstartts.getTime()) / 60000)} mins</span>
        </div>
      </div>
    </script>

    <script type="text/x-jquery-tmpl" id="mobile-recording-template">
      <div class="content">
        <div class="channel">
          <img src="/channel/${chanid}/image.png?width=80&amp;height=60" alt="${channame}">
          <span class="time">${Math.round((recendts.getTime() - recstartts.getTime()) / 60000)} mins</span>
        </div>
        <p>
          {{if subtitle}}
            ${subtitle}:
          {{/if}}
          ${description}
        </p>
      </div>
      <img src="/programs/${id.replace('_', '/')}/image.jpg?width=${window.innerWidth}&amp;height=${Math.floor(window.innerWidth*9/16)}" alt="" width="${window.innerWidth}" height="${Math.floor(window.innerWidth*9/16)}">
      <div class="content">
        <table>
          <tbody>
            <tr>
              <th>${$.i18n._('file_size')}</th>
              <td>${human_size(filesize, 2)}</td>
            </tr>
            <tr>
              <th>${$.i18n._('playback_group')}</th>
              <td>${playgroup}</td>
            </tr>
            <tr>
              <th>${$.i18n._('storage_group')}</th>
              <td>${storagegroup}</td>
            </tr>
          </tbody>
        </table>
     </div>
      <div class="meta">
        <div class="options">
          <a href="#delete">${$.i18n._('delete')}</a> 
          <a href="#delete-rerecord">${$.i18n._('delete_and_rerecord')}</a> 
          <a href="#play">${$.i18n._('play')}</a> 
          <a href="#autoexpire">${$.i18n._('auto_expire')}</a>
       </div>
     </div>
    </script>

    <script type="text/x-jquery-tmpl" id="mobile-remote-template">
      <div id="remote-default" class="panel keyboard">
        <a href="#enter">${$.i18n._('remote:ok')}</a>
        <a href="#escape">${$.i18n._('remote:escape')}</a>
        <a href="#m">${$.i18n._('remote:menu')}</a>
        <a href="#i">${$.i18n._('remote:information')}</a>

        <a href="#up">${$.i18n._('remote:up')}</a>
        <a href="#right">${$.i18n._('remote:right')}</a>
        <a href="#down">${$.i18n._('remote:down')}</a>
        <a href="#left">${$.i18n._('remote:left')}</a>

        <a href="#[">${$.i18n._('remote:volume')}-</a>
        <a href="#]">${$.i18n._('remote:volume')}+</a>
        <a href="#f9">${$.i18n._('remote:mute')}</a>

        <a href="#p">${$.i18n._('remote:play')}</a>
        <a href="#r">${$.i18n._('remote:record')}</a>
        <a href="#pagedown">${$.i18n._('remote:rewind')}</a>
        <a href="#pageup">${$.i18n._('remote:fast_forward')}</a>

        <a href="#1">1</a>
        <a href="#2">2</a>
        <a href="#3">3</a>
        <a href="#4">4</a>
        <a href="#5">5</a>
        <a href="#6">6</a>
        <a href="#7">7</a>
        <a href="#8">8</a>
        <a href="#9">9</a>
        <a href="#0">0</a>
      </div>
    </script>
  </body>
</html>
